<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">   
                    <h2 class="section-heading text-center">About</h2>
                    <h3 class="section-subheading text-muted text-center">What Is Peer Counseling?</h3>
                    {% capture a %}{% include about.md %}{% endcapture %}
{{ a | markdownify }}
        <hr>

                    <h2 class="section-heading text-center">Imagine</h2>
                    {% capture i %}{% include imagine.md %}{% endcapture %}
{{ i | markdownify }}
                </div>
            </div>
    </section>