<section id="benefits">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading text-center">What We Offer</h2>
                <h3 class="section-subheading text-muted text-center">We believe in building "better" men</h3>
            </div>
            <div class="col-md-6">
                <div class="benefits-text-header">
                    <div class="benefits-text-header-text">
                        🤗 Support and Connection
                    </div>
                </div>
                <div>
                    <ul>
                        <li>You are <b>heard and respected</b>. Everyone listens to your words. What you say is confidential</li>
                        <li>You are <b>valued</b> and <b>respected</b>by a circle of men who help each other in realizing their dreams</li>
                    </ul>
                </div>
                <div class="benefits-text-header">
                    <div class="benefits-text-header-text">
                        🌱 Growth and Belonging
                    </div>
                </div>
                <div>
                    <ul>
                        <li><b>Break free</b> from <b>limiting and sabotaging beliefs</b>.</li>
                        <li><b>Find brotherhood</b> and <b>insight</b></li>
                        <li>Access your <b>inner leader</b>.</li>
                    </ul>
                </div>
                <div class="benefits-text-header">
                    <div class="benefits-text-header-text">
                        🏡 Leadership and Accountability
                    </div>
                </div>
                <div>
                    <ul>
                        <li>Men <b>remind</b> you of your <b>commitments</b> without judgment</li>
                        <li>Men <b>hold you accountable</b> and keep you focused on your goals</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="benefits-img-container">
                    <img src="/static/images/site/mencirclehands.png" class="benefits-img" alt="a circle of hands, taken 2020 Tokyo" />
                    <div class="benefits-img-text">Taken 2020, Tokyo</div>
                </div>
                <br/>
            </div>
        </div>
</section>
