<section id="benefits">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading text-center">What We Offer</h2>
                <h3 class="section-subheading text-muted text-center">We believe in building "better" men</h3>
            </div>
            <div class="col-md-6">
                <div class="benefits-text-header">
                    <div class="benefits-text-header-text">
                        🤗 Support and Connection
                    </div>
                </div>
                <div>
                    <ul>
                        <li>You are <b>heard</b>. Everyone listens, not only to what you say, but to what lies
                            behind or benearth your words.
                        </li>
                        <li><b>Support</b> each other in realizing one another's dreams and aspirations.
                        </li>
                    </ul>
                </div>
                <div class="benefits-text-header">
                    <div class="benefits-text-header-text">
                        🌱 Growth and Belonging
                    </div>
                </div>
                <div>
                    <ul>
                        <li>Learn from each other. Find new ways to create a positive <b>impact</b> in the world.
                        </li>
                        <li>You are <b>valued</b> by a circle of men who are truly curious about your dreams, aspirations, and passions.
                        </li>
                    </ul>
                </div>
                <div class="benefits-text-header">
                    <div class="benefits-text-header-text">
                        🏡 Leadership and Accountability
                    </div>
                </div>
                <div>
                    <ul>
                        <li>You can experience and develop the leader within you. A place that is <b>safe</b> to be who you really want to be.
                        </li>
                        <li>Men will remind you of your commitments <b>without judgement</b> when you miss the mark.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="benefits-img-container">
                    <img src="/static/images/site/mencirclehands.png" class="benefits-img" alt="a circle of hands, taken 2020 Tokyo" />
                    <div class="benefits-img-text">Taken 2020, Tokyo</div>
                </div>
                <br/>
            </div>
        </div>
</section>
