{% assign s = site.data.strings[page.benefits_section] %}
<section id="{{ page.benefits_section }}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading text-center">{{ s.title  }}</h2>
                <h3 class="section-subheading text-muted text-center">{{ s.subtitle }}</h3>
            </div>
            <div class="col-md-6">
                {% for benefit_hash in site.data.benefits %}
                {% assign benefit = benefit_hash[1] %}
                <div class="benefit">
                    <h3>
                        <i>{{ benefit.icon }}</i> {{ benefit.title }}
                    </h3>
                    <ul>
                        {% for statement in benefit.benefits %}
                        <li>{{ statement.benefit }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-6 text-center">
                <div class="benefits-img-container">
                    <img src="/static/images/site/mencirclehands.png" class="benefits-img" alt="a circle of hands, taken 2020 Tokyo" />
                    <div class="benefits-img-text">{{ s.picture_date }}</div>
                </div>
                <br/>
            </div>
        </div>
</section>
