<section id="faqs">
    <div class="container">
        <h2 class="section-heading text-center">FAQs</h2>
        <!-- Agency theme hacked a bunch of the other themes so if I try to update them to something newer, the current
        stuff breaks. I don't have time to debug why now so just using the hacked bootstrap theme agency is using. -->
        <div class="row">
            <div class="col-6 col-md-6">
                <div class="card">
                    <div class="card container">
                        <h4><b>What is Mankind Project Japan?</b></h4>
                        <p>Mankind Project Japan is a <b>men's support group</b> based in <b>Tokyo</b> that hosts <b>weekly
                            online gatherings.</b></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card container">
                        <h4><b>What are the benefits of joining?</b></h4>
                        <p>You'll  gain <b>support, insights, and connections</b> with like-minded men. 
                            It's an opportunity for <b>personal growth</b> and <b>self-discovery</b>.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card container">
                        <h4><b>Does it cost any money to join?</b></h4>
                        <p><b>No</b>. Joining Mankind Project Japan's online gatherings is <b>completely free</b>. 
                            We believe in making our support accessible to all men.<br/><br/>
                            
                            <b>Note</b>: We  do ask for <b>voluntary donations</b> from time to time in order to cover overheads and grow 
                            the group. But these donations are <b>not a condition</b> for continued participation.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card container">
                        <h4><b>How can I join?</b></h4>
                        <p><a href="#join">Sign up here.</a>
                            It's free and open to all men.                            
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card container">
                        <h4><b>How often are the gatherings?</b></h4>
                        <p>We host <b>weekly</b> online gatherings. First Tuesdays of the month for <b>new members</b>.
                            These ensure regular <b>support and connection</b> for our participants.                                                         
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-6">
                <div class="card">
                    <div class="card container">
                        <h4><b>What topics are discussed?</b></h4>
                        <p>We cover a wide range of topics that includes <b>personal growth</b>, <b>relationships</b>, and 
                            <b>emotional well-being</b>.
                            Each gathering is facilitated by experienced leaders.
                            </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card container">
                        <h4><b>Can I share my story?</b></h4>
                        <p><b>Absolutely</b>. Our gatherings provide a space for men to share their stories, experiences,
                            and challenges. We encourage open and honest communication.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card container">
                        <h4><b>Are the gatherings confidential?</b></h4>
                        <p>Yes, we <b>prioritize confidentiality</b> and create a safe and supportive environment for all participants. 
                            What is shared in the gatherings <b>stays within the group</b>.
                            </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card container">
                        <h4><b>How can I contact you?</b></h4>
                        <p>For further questions or assistance, please feel free to contact us at tokyo[α𝐭]mkpjapan.org.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card container">
                        <h4><b>Can I attend anonymously?</b></h4>
                        <p><b>Absolutely!</b> We respect everyone's privacy and understand that some participants may prefer to attend anonymously. 
                            You can choose to use a <b>pseudonym</b> during the gatherings.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>