{% assign s = site.data.strings['faqs'] %}
<section id="{{ s.id }}">
    <div class="container">
        <h2 class="section-heading text-center">{{s.title}}</h2>
        <div class="row">
            {% for faq in site.data.faqs %}
                <div class="card">
                    <div class="container">
                        <h4>{{ faq.q }}</h4>
                        <p>{{ faq.a | markdownify }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
