<section id="faqs">
    <div class="container">
        <h2 class="section-heading text-center">FAQs</h2>
        <!-- Agency theme hacked a bunch of the other themes so if I try to update them to something newer, the current
        stuff breaks. I don't have time to debug why now so just using the hacked bootstrap theme agency is using. -->
        <div class="row">
            <div class="col-6 col-md-6">
                col1
            </div>
            <div class="col-6 col-md-6">
                col2
            </div>
        </div>
    </div>
</section>