    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading" id="intro-long">We want to create a world where men 
                    act on their responsibility for the future of humanity by initiating and supporting men 
                    on a path of emotional maturity, spiritual awareness, and deepening community.</div>
                <div class="intro-heading" id="intro-short">We want to create a world where men 
                        act on their responsibility.</div>
                <a href="#join" class="page-scroll btn btn-xl" style="margin:5px">Join Our Online Group!</a>
                <div class="intro-subtext">First Tuesday of the Month, 7pm JST</div>
            </div>
        </div>
    </header>

