    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
            <div class="intro-text col-md-6">
                <div class="intro-heading">
                    <div class="hidden-xs">To <b>create a world</b> where men act on their <b>individual and shared responsibility</b>
                        for the future of humanity. we do this by <b>initiate and support men</b> on a path of <b>emotional maturity,
                            spiritual awareness, and deepening community</b>
                    </div>
                    <div class="visible-xs"><b>Create a world</b> where men act on their <b>individual and shared responsibility</b>
                        for the future of humanity.
                    </div>
                </div>
                <a href="{{ '/#join' | prepend: site.baseurl }}" class="page-scroll btn btn-xl" style="margin:5px">Join Our Online Group!</a>
                <div class="intro-subtext">First Tuesday of the Month, 7pm JST</div>
            </div>
        </div>
    </header>

