    <!-- Header -->
    {% assign s = site.data.strings['header'] %}
    <header>
        <div class="container">
            <div class="row">
            <div class="intro-text col-md-6">
                <div class="intro-heading">{{ s.short_mission }}</div>
                <div class="button-container">
                    <a href="{{ '/form' | prepend: site.baseurl }}" class="page-scroll btn btn-xl">
                        {{ s.join_button }}</a>
                    <div class="intro-subtext">{{s.meeting_date}}</div>
                </div>
            </div>
        </div>
    </header>

