<section id="join">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading text-center">Join</h2>
                    <h3 class="section-subheading text-muted text-center">Online Open Men's Group</h3>
                </div>
                <div class="col-md-6">
                    {% capture online %}{% include join.md %}{% endcapture %}
                    {{ online | markdownify }}
                </div>
                <div class="col-md-6 text-center">
                    <div class="join-img-container">
                        <a href="https://forms.gle/L64N8goVx42bHz7F7">
                            <img src="/static/images/site/mencirclehands.png" class="join-img" alt="a circle of hands" />
                        </a>
                    </div>
                    <br/>
                    <a href="https://forms.gle/L64N8goVx42bHz7F7" class="btn btn-xl mx-auto">Register Here!</a>
                </div>
            </div>
    </section>
