<div class="container">
<nav class="navbar has-text-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img class="navbar-mkpheader" src="/static/images/site/title/mkpjapanheader.png" alt="Mankind Project Japan"/>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    
  </div>
  <div class="navbar-end">
      <a class="navbar-item" href="/about/">
        About
      </a>
      <a class="navbar-item" href="/agreements/">
        Agreements
      </a>
      <a class="navbar-item">
        Online
      </a>
      <a class="navbar-item">
        Location
      </a>
      <a class="navbar-item">
        Calendar
      </a>
      <a class="navbar-item">
        Donate
      </a>

  </div>
</nav>
</div>