<section id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h1 class="section-heading text-center">About</h1>
                <h2 class="section-subheading text-muted text-center">Our Organization</h2>
                <p class="text"><a target="new" href="https://mankindproject.org/"><ins><b>The ManKind Project</b></ins></a> supports a global brotherhood of over 1,000 peer-facilitated men's groups serving 
                    close to 10,000 men each week. In an MKP men's group, men mentor men through the passages of their lives.<br/><br/>

                    Its flagship training program is called the
                    <a target="new" href="https://mankindproject.org/new-warrior-training-adventure/"><ins><b>New Warrior Training Adventure</b></ins></a>. 
                    It is not necessary to have any prior training to join the men's circle in Japan.
                </p>
                <h2 class="section-subheading text-muted text-center">Meetings</h2>
                <ul>
                    <li>The Mankind Project (MKP) Japan meetings are held first Tuesdays of the month at 7PM JST.</li>
                    <li>Please read the <a href="{{ '/agreements' | prepend: site.baseurl }}"><ins><b>Agreements</b></ins></a> before joining.</li>
                </ul>
                <h2 class="section-subheading text-muted text-center">Disclaimer</h2>
                <ul>
                    <li>We are a peer support group. We do not offer any professional mental or therapeutic services.</li>
                    <li>We expect men to work with local community professionals for therapeutic support.</li>
                    <li>This group is not a good fit for men who are actively engaged in domestic violence, alcoholism, recreational drug use, or experiencing suicidal ideation.</li>
                </ul>
            </div>
        </div>
    </div>
</section>