{% assign s = site.data.strings['testimonials'] %}

<section id="{{ s.id }}">
    <style>
        .slick-dots {
            bottom: initial!important;
            text-align: left;
            margin-left: 25px;
            margin-top: 10px;
        }

        .carousel-arrows {
            text-align: right;
            font-size: x-large;
            margin-top: -30px;
            margin-right: 25px;
            z-index: 2;
            transform-style: preserve-3d;
        }

        .carousel-arrows span:hover{
            color: #{{site.data.template.color.primary}};
        }

        .slick-track {
            display: flex !important;
        }

        .slick-slide {
            height: inherit !important;
        }

        .slick-list {
            padding:0 35% 0 0 !important;
        }

    </style>
    <div class="col-md-12">
        <h2 class="section-heading text-center">{{ s.title }}</h2>
        <h3 class="section-subheading text-muted text-center">{{ s.subtitle }}</h3>
    </div>

    <div class="testimonials-carousel">
        {% for t in site.data.testimonials %}
        <div class="testimonial">
            <span class="top border"></span>
            <p>{{ t.testimonial }}</p>
            <p class="source">
                {{t.username}} &mdash; {{ t.location }}
            </p>
            <span class="bottom border"></span>
        </div>
        {% endfor %}
    </div>
    <div class="carousel-arrows">
        <span class="prev fa-solid fa-chevron-circle-left"></span>
        <span class="next fa-solid fa-chevron-circle-right"></span>
    </div>

    <script src="{{ '/static/js/jquery-1.11.0.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/static/slick/slick.min.js' | prepend: site.baseurl }}"></script>

    <script>
        $('.testimonials-carousel').slick({
        centerMode: true,
        dots:true,
        centerPadding: '60px',
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay:true,
        autoplaySpeed:2000,
        prevArrow: $('.prev'),
        nextArrow: $('.next'),
        responsive: [
            {
            breakpoint: 768,
            settings: {
                centerMode: true,
                centerPadding: '40px',
            }
            },
            {
            breakpoint: 480,
            settings: {
                centerMode: true,
                centerPadding: '40px',
            }
            }
        ]
        });
    </script>
</section>
