<section id="testimonials">
    <div id="testimonials-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#testimonials-carousel" data-slide-to="1"></li>
            <li data-target="#testimonials-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Slide Wrapper -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="testimonial">
                    <h4>Testimonial</h4>
                    <p>This is some testimonial text for this month's CodePen challenge! This is some testimonial text for this month's CodePen challenge!</p>
                    <div class="source">		
                        <span>Testimonial Source</span>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="testimonial">
                    <h4>Testimonial</h4>
                    <p>This is some testimonial text for this month's CodePen challenge! This is some testimonial text for this month's CodePen challenge!</p>
                    <div class="source">		
                        <span>Testimonial Source</span>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="testimonial">
                    <h4>Testimonial</h4>
                    <p>This is some testimonial text for this month's CodePen challenge! This is some testimonial text for this month's CodePen challenge!</p>
                    <div class="source">		
                        <span>Testimonial Source</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#testimonials-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#testimonials-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>