---
---
.join-text {
    width:100%;
}

header .intro-text {
	padding-top: 200px;
	.intro-heading {
		text-shadow: 1px 1px 2px #333;
		text-transform: none;
	}
    .intro-subtext {
        font-family: {{ site.data.template.font.secondary }};
    }

}


section {
    h2.section-heading {
        font-family: {{ site.data.template.font.primary }};
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.4px;
    }

   h3.section-subheading {
        color: #4A4A4A;
        text-align: center;
        font-family: {{ site.data.template.font.secondary }};
        font-size: 16px;
        font-style: normal!important;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.56px;
        &:after {
            content: '   ';
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100px;
            margin-top: 30px;
            border-bottom: 2px solid #{{site.data.template.color.secondary}};
        }
    }
}

.has-background-dark {
    h3.section-subheading {
        color: #fff;
    }
}

.benefits-text-header {
    position: relative;
    font-size: 1.5em;
    padding:5px;
    border-radius: 10px;
    overflow: hidden;
    border:1px solid #{{ site.data.template.color.primary }};
    background-color: #{{ site.data.template.color.primary }};
}

.benefits-text {
    position: relative;
    padding: 5 5;
}

.benefits-img {
    width: 70%;
    height: 100%;
    padding: 5 5;
    border-radius: 8px;

    .benefits-img-text {
        padding: 5 5;
        text-align: center;
    }
}

.join-container {
    text-align: center;
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ site.baseurl }}/static/images/site/pixabay.sky.jpg');
    background-position: top center;
    background-repeat: none;
    width: 100%;
    // min-height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

img.hover-shadow {
    transition: 0.3s;
  }
  
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* FAQ cards */

#faqs {
    .row {
        columns: 2 auto;
    }
    .card {
        display: inline-block;
        overflow: hidden;
        position: relative;
        width: 100%;
        .container {
            display: block;
            padding: 2px 16px;
            font-size: 90%;
            width: 100%;
        }
        h4 {
            font-family: {{ site.data.template.font.secondary }};
            font-weight: bold;
            border-top: 2px solid #888;
            padding: 1em 0;
        }
        p {
            font-size: 15px;
        }
    }
}

.testimonial {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border:1px solid;
    transition: 0.3s;
    width:80%;
    height:100%;
    min-height: 400px;
    padding:100px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}


#benefits {
    background: #f2f3f3;
    .benefit {
        padding-bottom: 16px;
        h3 {
            margin-top: 0;
            color: #FFFCF0;
            border-radius: 6px;
            background: #8F949D;
            padding: 10px 14px;
            font-size: 24px;
            i {
                background: white;
                border-radius: 50%;
                padding: 3px;
            }
        }
        ul {
            li {
                font-family: {{ site.data.template.font.secondary }};
                padding: 4px 0;
            }
        }
    }
}

/* carousel overrides*/
.carousel {
    min-height:400px;

    .carousel-indicators {
        /* move the indicators to the left. */ 
        bottom:-50px;
        text-align: left;

        li {
            border: 1px solid;
        }

        li.active {
            background-color:#{{ site.data.template.color.primary }};
        }
    }
}
