.join-text {
    width:100%;
}

.join-img-container {
    width:100%;
    margin:5px;
}

.join-img {
    width:98%;
    padding:5 5;
    border-radius: 10%;
}

#intro-short { 
    display: block;
}

#intro-long { 
    display: none; 
}

@media(min-width:768px) {

#intro-short { 
    display: none;
}

#intro-long { 
    display: block;
}

.join-text {
    width:50%;
    float:left;
}

.join-img-container {
    width:40%;
    float:right;
}

.join-img {
    width:98%;
    padding:5 5;
    border-radius: 10%;
}
}

img.hover-shadow {
    transition: 0.3s;
  }
  
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
