---
layout: default
---

<section class="hero is-dark has-background-dark has-text-light is-large">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
	{% include menu.html %}
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-left has-text-white">
      <p class="title has-text-white" style="max-width: 60%;">
        We're committed to molding men who are not just strong, but also kind
and self-aware - men who can be society's healers. We celebrate men's
gifts but we're also unflinching in facing the harm we can do. For us,
it's not just about men; it's about everyone we touch - our families,
communities, and Earth.
      </p>
      <div class="container">
        <button type="button">Join Our Next Online Group!</button>
        <p class="has-text-white">Every Tuesday 7pm JST</p>
      </div>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
   
  </div>
</section>
